html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.invisible {
    display: none;
}

#lobby {
    width: 100%;
    height: 100%;
    position: relative;
}
#lobby_background {
    width: 110%;
    height: 110%;
    left: 0;
    top: 0;
    position: absolute;
    background: url("/static/images/background1.jpg") no-repeat left center / cover;
    z-index: 0;
    transition: 0.3s ease-out;
}
.lobby-container {
    display: flex;
    height: inherit;
}
.left-lobby-column {
    display: inline-block;
    height: inherit;
    width: 20%;
    z-index: 1;
}
.left-lobby-column > p:first-child {
    font-size: 2.6rem;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    margin: 1rem 0;
}
.left-lobby-column > p + p {
    text-align: center;
    font-size: 1.2rem;
}
@counter-style numeric-padded {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "A" "B" "C" "D" "E" "F";
} 
.left-lobby-column > div > ol {
    list-style-type: numeric-padded;
    margin: 0 20%;
    font-size: 1.3rem;
}
.player-name {
    color: #458DDC;
}
.right-lobby-column {
    display: flex;
    height: inherit;
    width: 80%;
    z-index: 1;
}
.player-image {
    display: inline-block;
    width: 500px;
    background: transparent;
}
#fileDialog {
    display: none;
}
.select-image-container {
    width: 100%;
}
.select-image-container > div {
    position: relative;
    box-sizing: border-box;
    background: #458DDC;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border: 3px dashed #417EC1;
    cursor: pointer;
    padding: 12px 6px;
    text-align: center;
}
.image-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background: #D4C09F;
    padding: 10px;
}
.image-box {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 3px;
    transition: 0.2s ease;
}
.image-box > img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.selected-image-box {
    -webkit-box-shadow: 0px 0px 18px 3px rgba(62,177,230,0.93);
    -moz-box-shadow: 0px 0px 18px 3px rgba(62,177,230,0.93);
    box-shadow: 0px 0px 18px 3px rgba(62,177,230,0.93);
}
.add-image {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: 99px;
    height: 99px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px dashed #458DDC;
    cursor: pointer;
    margin: 10px;
}
.add-image > div {
    position: relative;
    width: 60px;
    height: 60px;
}
.add-image > div:before {
    content: "";
    position: absolute;
    background-color: #458DDC;
    border-radius: 10px;
    top: 0;
    left: 50%;
    width: 20px;
    height: 100%;
    margin-left: -10px;
}
.add-image > div:after {
    content: "";
    position: absolute;
    background-color: #458DDC;
    border-radius: 10px;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20px;
    margin-top: -10px;
}
.image-box:hover:not(.add-image) {
    padding: 0;
}
.customize-player {
    flex: 1;
    position: relative;
    width: inherit;
    height: inherit;
}
.player-preview {
    position: absolute;
    width: 100%;
    height: 100%;
}
.player-preview > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
}
.player-preview canvas {
    display: block;
    border-radius: 50%;
    background: lightskyblue;
    overflow: hidden;
    z-index: 6;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}
.svg-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#fat_svg {
    display: block;
    width: auto;
    height: 100%;
    z-index: 5;
}
.switch {
    top: 26px;
    left: 40px;
    width: 180px;
    height: 55px;
    position: absolute;
}
.switch input {
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.switch label {
    display: block;
    width: 80%;
    height: 100%;
    position: relative;
    background: #1F2736; /*#121823*/
    background: linear-gradient(#121823, #161d2b);
    border-radius: 40px;
    box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.5),
        inset 0 1px 0 rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,0.2);
        -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.switch input ~ label i {
    display: block;
    height: 71px;
    width: 71px;
    position: absolute;
    left: -8px;
    top: -8px;
    z-index: 2;
    border-radius: inherit;
    background: url("/static/images/color.svg") center center /cover;
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 12px 12px rgba(0,0,0,0.4);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.switch input:checked ~ label i {
    left: auto;
    left: 63%;
    background: url("/static/images/paint.svg") center center /cover;
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 8px 8px rgba(0,0,0,0.3),
        inset -1px 0 1px #b9f3fe;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


div>#scene {
    width: 100%;
    height: 100%;
}

#game {
    position: relative;
}

.dice-box {
    position: absolute;
    right: 20px;
    bottom: 20px;
    zoom: 1.6;
    z-index: 10;
}

.player-info {
    position: absolute;
    font-size: 1.1rem;
    right: 140px;
    bottom: 20px;
    width: 20%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    background-image: url("/static/images/stonehaven.png");
    line-height: 35px;
    z-index: 10;
}

.window {
    position: absolute;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(33, 33, 33, 0.5);
}
.window:not(:hover) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.window-frame {
    height: 8%;
    cursor: pointer;
    background-color: rgba(22, 22, 22, 0.75);
    background-size: cover;
}

.window-content {
    box-sizing: border-box;
    height: 92%;
    border: 1px solid rgba(22, 22, 22, 0.75);
    border-top: 0;
}

.leaderboard-window {
    right: 10px;
    top: 70px;
    width: 16%;
    height: 40%;
    z-index: 4;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    width: 100%;
    font-size: 0.8vw;
}

th {
    color: white;
}

th,
td {
    text-align: center;
    width: 30%;
    background: rgba(32, 32, 32, 0.2);
    padding: 1.5%;
}

.task-window {
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    z-index: 6;
}

.chat-window {
    left: 10px;
    bottom: 10px;
    width: 20%;
    height: 50%;
    z-index: 5;
}

.chat-window > .window-content {
    display: flex;
    flex-flow: column nowrap;
}
.chat-content {
    flex-grow: 1;
}
.chat-content {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
}
.chat-feed {
    display: flex;
    flex-flow: column;
}
.chat-message {
    width: 100%;
    height: auto;
}
.chat-message > span {
    background-color: rgba(227, 250, 95, 0.815);
}
.chat-message > span:after {
    content: " :  ";
}
.chat-bottom {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: auto;
    background: rgba(255, 255, 255, 0.651);
}
.chat-text-box {
    box-sizing: border-box;
    height: auto;
    width: 80%;
    padding: 0.3vw 0 0.3vw 0.6vw;
}
.chat-text-box > div {
    display: flex;
    overflow-y: auto;
    align-items: center;
    height: auto;
    max-height: 10vw;
    border-radius: 1.4vw;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-out;
}
.chat-text {
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 2.2vw;
    height: auto;
    padding: 0.5vw 1vw 0 1vw;
    font: 400 1vw 'Roboto', sans-serif;
    vertical-align: middle;
    background: transparent;
}
.chat-text-box > div:focus-within {
    background-color: rgba(255, 255, 255, 0.85);
}
.chat-send {
    height: 2.2vw;
    width: 20%;
}
.chat-send > svg {
    float: right;
    box-sizing: border-box;
    height: 2.2vw;
    width: 2.2vw;
    padding: 0.1vw;
    margin-right: 0.3vw;
    cursor: pointer;
}